# Build files
src/**/*.o

# Binary files
counter
timing

# SLURM run output
slurm-*.out

# Checkpoint directory
checkpoints

# VS Code workspace settings
.vscode

# Results directory
results

# Plans directory
plans

# Nodefiles
nodefile.*

# Data
data
