# Build files
src/**/*.o

# Binary files
counter
timing

# SLURM run output
slurm-*.out

# Checkpoint directory
checkpoints

# VS Code workspace settings
.vscode

# Results directory
results

# Plans directory
plans

# Keep examples directories
!src/examples/counter/
!src/examples/timing/

# Nodefiles
nodefile.*

# Data
data
